<footer>
  <div class="footer-logo">
    <div class="kuow-logo-container">
      <a href="https://kuow.org" target="_blank">
        <img class="kuow-logo" src="assets/kuow-white.svg" alt="KUOW logo"/>
      </a>
    </div>
    <span class="footer-copy">KUOW is the Puget Sound region’s #1 radio station for news. Our independent, nonprofit newsroom produces award-winning stories, podcasts and events.</span>
  </div>
  <div class="links">
    <ul>
      <li><a href="https://kuow.org/tags/corrections" target="_blank">Corrections</a></li>
      <li><a href="https://kuow.org/privacy-policy" target="_blank">Privacy Policy</a></li>
      <li><a href="https://kuow.org/terms-of-use" target="_blank">Terms of Use</a></li>
      <li><a href="https://kuow.org/reports" target="_blank">FCC Public File</a></li>
    </ul>
  </div>
  <!-- <div class="socials">
    <ul class="social_links">
      <li><a href="https://www.facebook.com/kuowpublicradio/" target="_blank" class="btn-social-fb">KUOW on Facebook</a></li>
      <li><a href="https://www.instagram.com/kuow/" target="_blank" class="btn-social-in">KUOW on Instagram</a></li>
      <li><a href="https://twitter.com/KUOW" target="_blank" class="btn-social-tw">KUOW on Twitter</a></li>
      <li><a href="https://www.youtube.com/user/KUOW949" target="_blank" class="btn-social-yt">KUOW on YouTube</a></li>
    </ul>
  </div> -->
  <div class="copyright">
    <span>&copy; 2022 KUOW News and Information</span>
  </div>
</footer>
