<!-- Header section, contains KUOW top branding, title, image, and bylines. -->
<header id="intro">
  <div class="brand-header">
    <div class="kuow-logo-container">
      <a href="https://kuow.org" target="_blank">
        <img class="kuow-logo" src="assets/kuow-color.svg" alt="kuow logo"/>
      </a>
    </div>
    <div class="donate">
      <a href="https://kuow.org/donate" target="_blank">Donate</a>
    </div>
  </div>
  <div class="header-contents">
    <h1>TITLE</h1>
    <div class="splash-image">
      <picture>
        <source media="(max-width: 720px)" srcset="assets/placeholders/mobile/title-image.png">
        <img src="assets/placeholders/desktop/title-image.png" />
      </picture>
    </div>
    <div class="subheader-content">
      <div class="bylines">
        <div class="authors"><b>AUTHORS</b></div>
        <div class="subtitle"><b>COLLABORATORS</b></div>
        <div class="date">
          <span>DATE</span>
          <span>TIME</span>
        </div>
      </div>
    </div>
  </div>
</header>